@font-face {
  font-family: Rubik--rg;
  src: url(fonts/Rubik-Regular.ttf);
}

@font-face {
  font-family: Rubik--md;
  src: url(fonts/Rubik-Medium.ttf);
  font-weight: 500 !important;
}

@font-face {
  font-family: Rubik--bold;
  src: url(fonts/Rubik-Bold.ttf);
}

:root {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: Rubik--rg;
}

.bold-font {
  font-family: Rubik--bold;
}

button {
  border: none;  
  color: inherit;  
}

h1,h2,h3,h4,h5,h6 {
  font-family: Rubik--md;
}

.font--big {
  font-size: 3rem;
  color: inherit;
}

.container {
  max-width: 1500px;
  width: 100%;
  padding: 1em;
  display: inherit;
  flex-flow: inherit;
  align-items: inherit;
  align-content: inherit;
  justify-content: inherit;
  justify-items: inherit;
  margin: 0 auto;  
}

.small-container {
  max-width: 900px;
}

.logo {
  max-width: 35px;
  max-height: 35px;
  width: 100%;  
  height: fit-content;  
}

.big-font {
  font-size: 2.5rem;
}