@font-face {
  font-family: Rubik--rg;
  src: url(fonts/Rubik-Regular.ttf), url('https://fonts.googleapis.com/css?family=Rubik:400&display=swap');
  font-display: swap;
}

@font-face {
  font-family: Rubik--md;
  src: url(fonts/Rubik-Medium.ttf), url('https://fonts.googleapis.com/css?family=Rubik:500&display=swap');
  font-weight: 500 !important;
  font-display: swap;
}

@font-face {
  font-family: Rubik--bold;
  src: url(fonts/Rubik-Bold.ttf), url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');
  font-display: swap;
}

:root {  
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: Rubik--rg;
}

.bold-font {
  font-family: Rubik--bold;
}

button {
  border: none;  
  color: inherit;  
}


body {
  overflow-x: hidden;
  min-height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 0px;  
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;  
}

#root, .App, .App > div {
  /* min-height: inherit; */
}

#root {
  overflow-y: hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Rubik--md;
}

.font--big {
  font-size: 3rem;
  color: inherit;
}

.container {
  max-width: 1500px;
  width: 100%;
  padding: 1em;
  display: inherit;
  flex-flow: inherit;
  align-items: inherit;
  align-content: inherit;
  justify-content: inherit;
  justify-items: inherit;
  margin: 0 auto;  
}

.small-container {
  max-width: 900px;
}

.logo {
  max-width: 35px;
  max-height: 35px;
  width: 100%;  
  height: fit-content;  
}

.big-font {
  font-size: 2.5rem;
}

/* Page Transitions */
.page-transition-enter,
.page-transition-appear {
  opacity: 0.01;
  /* transform: scale(1.1); */
  /* transform: translateY(50px); */
}

.page-transition-enter-active,
.page-transition-appear.page-transition-appear-active{
  opacity: 1;
  /* transform: scale(1); */
  /* transform: translateY(0px); */
  transition: all 300ms;
}

.page-transition-exit {
  opacity: 1;
  /* transform: translateY(0px); */
  /* transform: scale(1); */
}

.page-transition-exit-active {
  opacity: 0.01;
  /* transform: scale(1.1); */
  /* transform: translateY(500px); */
  transition: all 300ms;
}